body {
  margin: 0px;
  padding: 0px;
  background-color: #E6E6FA;
  text-align: center;
}

canvas {
  width: 760px; 
  height:330px
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  touch-action: none; 
}

.gameArea {
  background-color: #fff;
  padding-bottom: 20px;
  text-align: center;
}

#result {
  background-color: #f7c41b;
  border-radius: 30px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 20px;
  height: 20px;
}